@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 0, 221);
    background-size: contain;
    background-repeat: no-repeat ;
}

h1{
    color: white;
    text-shadow: 2px 2px 0px rgb(4, 4, 124);
    padding: 10px;
}

@media screen and (orientation: portrait) {
    body{
    background-image: url(../mq03/imagens/cev-portrait.jpg);
    background-position: center bottom;
}
}
@media screen and (orientation: landscape) {
    body{
    background-image: url(../mq03/imagens/cev-landscape.jpg);
    background-position: left bottom;
}
}